@model CandyReview.Models.ProductModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h3>@Model.Name</h3>
    <p>@Model.Category</p>
    @*<a href="/Review/Index">See All Reviews</a>*@

    @foreach (var review in Model.Reviews)
    {
        //<p>Candy: @review.Product.Name</p>
        <p>Content: @review.Content</p>
        <p>Reviewer: @review.Reviewer</p>
        <p>Rating: @review.Rating</p>
        <p>Date: @review.Date</p>
        <a href="/Review/Update/@review.Id">Edit Review</a>
    }

    <a href="/Review/Create ">Create a review</a>

    <a href="/Product/Index">Return to Product List</a>
</body>
</html>
