@model CandyReview.Models.ProductModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/style/ProductStyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cantarell|Lobster&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header-image"><h1>@Model.Name | @Model.Category</h1></div>

    <article id="productImg">
        <img src="~/img/@Model.Image" alt="@Model.Name" />
    </article>

    <div id="reviews">
        @foreach (var review in Model.Reviews)
        {
            <article id="reviewItem">
                <p>Name: @review.Reviewer</p>
                <p>Review: @review.Content</p>
                <p>Rating: @review.Rating</p>
                <p>Date: @review.Date</p>
                <a href="/Review/Update/@review.Id"><button>Edit Review</button></a>
                <a href="/Review/Delete/@review.Id"><button>Delete Review</button></a>
            </article>
        }
    </div>


    <a href="/Review/Create"><button>Create a review</button></a>


    <a href="/Product/Index"><button>Return to Product List</button></a>
</body>
</html>
