@model IEnumerable<CandyReview.Models.ReviewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reviews</title>
</head>
<body>
    <h3>Reviews</h3>

    @foreach(var review in Model)
        {
            <p>Candy: @review.Product.Name</p>
            <p>Content: @review.Content</p>
            <p>Reviewer: @review.Reviewer</p>
            <p>Rating: @review.Rating</p>
            <p>Date: @review.Date</p>
             }
</body>
</html>
